<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex justify-center items-center min-h-screen">
<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
      <!-- Liste des auteurs -->
      <h2 class="text-xl font-semibold mb-4">Tableau</h2>
      <ul class="mb-6 space-y-2">
        <% if (messages.length > 0) {  messages.forEach(function(message) { %>
                <li class="border-b border-gray-200 py-2">
                  <span class="font-bold"><%= message.auteur %></span> - <%= message.etat
                  %> 
                </li>
        <% });  } else { %>
                <li>Aucun message soumis pour le moment.</li>
        <% } %>
      </ul>
      <h1 class="text-2xl font-bold text-center mb-6">
        Formulaire 
      </h1>

 <form action="/messages/create" method="POST" class="space-y-6">
      <div>
        <label for="auteur" class="block text-lg font-medium text-gray-700">Auteur : </label>
        <input 
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        type="text" 
        name="auteur" 
        id="auteur" 
        placeholder="Entrez votre nom" 
        required>
      </div>
        <!--<div>
            <label for="date" class="block text-lg font-medium text-gray-700">Date de création : </label>
            <input 
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="datetime-local" 
            name="date" 
            id="date" 
            required>
        </div>-->
        <div>
            <label for="titre" class="block text-lg font-medium text-gray-700">Titre : </label>
            <input 
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
            type="text" 
            name="titre" id="titre" 
            placeholder="Entrez le titre" 
            required>
        </div>
        <div>
            <label for="description" class="block text-lg font-medium text-gray-700">Description : </label>
            <textarea class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" name="description" id="description"></textarea>
        </div>
        <div>
            <label for="etat" class="block text-lg font-medium text-gray-700">Etat : </label>
            <select name="etat" id="etat" size="2" multiple>
                <option value="En-cours">En-cours</option>
                <option value="Résolu">Résolu</option>
            </select>
        </div>

        <div class="flex justify-center">
          <button
            type="submit"
            class="w-full bg-indigo-600 text-white font-bold py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          >
            Envoyer
          </button>
        </div>
    </form>
</body>
</html>

